:root {
  /* adjust if your navbar is taller */
  --header-h: 120px; 
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("/piston_logo.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100vw 130vh;
    background-position-x: -34.5vw;
    background-position-y: 30vh;
    background-color: #f2f2f2;
}


.min-vh-minus-header {
  /* dvh handles mobile browser chrome better than vh */
  min-height: calc(100dvh - var(--header-h));
}

